<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <menuitem id="menu_maquiser_root" name="Maquiser"/>

  <menuitem id="menu_maquiser_ventas" name="Ventas" parent="menu_maquiser_root" sequence="10" />
  <menuitem id="menu_maquiser_inventario" name="Inventario" parent="menu_maquiser_root" sequence="20" />
  <menuitem id="menu_maquiser_produccion" name="Producción" parent="menu_maquiser_root" sequence="30" />
  <menuitem id="menu_maquiser_compras" name="Compras" parent="menu_maquiser_root" sequence="40" />
  <menuitem id="menu_maquiser_rrhh" name="RRHH" parent="menu_maquiser_root" sequence="50" />
  <menuitem id="menu_maquiser_reportes" name="Reportes" parent="menu_maquiser_root" sequence="60" />
</odoo>

